.recently-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #08883D;
    color: white;
    text-align: center;
    margin: 16px 0px;
    width: 70%;
    height: 50%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}