.paper{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}
.paperForm{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Com-Logo, .Quotation{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.Logocom{
    margin-left: 3%;
}

.QuotationText{
    margin-right: 5%;
    margin-top: 5%;
}

.Com-Logo h3{
    flex: 1;
    top: auto;
    
}

.comAdd, .detail {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.comadd .comaddress{
    /* width: 40%; */
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.comadd .detail-com{
    width: 50%;
    background-color: burlywood;
}



.QuotationText{
    font-size: 24px;
    font-weight: bold;
}


.header{
    display: flex;
    width: 100%;
    
    flex-direction: column;
}




.paperForm .body{
    width: 100%;
}

.body-section{
    width: 80%;
}

.paperForm .sum{
    background-color: aquamarine;
    width: 100%;
    flex-direction: row;
}

.paperForm .sign{
    background-color: coral;
    width: 100%;
}


.sum{
    display: flex;
    flex-direction: row;
}